* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color-bg-primary: rgb(20, 20, 20);
  --color-text: #84dcc6;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-primary);
  color: #f0e5d9;
  font-family: "Roboto Serif", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section:first-child {
  height: 100vh;
}

/* About Me, My Work, and Contact Me */

.introduction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #9bf6ff;
  background-color: var(--color-bg-primary);
  margin: 50px;
  width: 100%;
  font-size: 25px;
}

.introduction img {
  max-width: 300px;
}

.introduction p span {
  color: var(--color-text);
}

h1,
h2 {
  font-size: 40px;
  max-width: 500px;
  font-weight: 200;
  display: inline-block;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

p {
  color: white;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  background-color: rgba(15, 15, 15, 0.966);
  box-shadow: 0 4px 8px -1px black;
  /* box-shadow: rgb(219, 14, 14) 0px -12px 30px, black 0px 4px 6px, black 0px 12px 13px,
    black 0px -3px 5px; */
  z-index: 1;
}

nav {
  display: flex;
  gap: 50px;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  justify-content: flex-end;
}

nav a {
  color: white;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* to increase clickable area of the a tag */
a span {
  display: inline-block;
  padding: 40px;
  z-index: 1;
  margin: -2em;
}

/* Hover event on About Me, My Work, and Contact Me */

nav a:hover {
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  max-width: 500px;
  border-left: 1px solid var(--color-text);
}

.about-images {
  display: flex;
  flex-direction: column;
}

/* For the 3 images in the about section */

.poloroid {
  background-color: white;
  padding: 8px;
  margin: 20px;
  transition: all 250ms ease;
  border-radius: 3px;
}

/* Used right and left on about section images to give an alternating effect */

.poloroid.right img {
  max-width: 200px;
}

.poloroid.left img {
  max-width: 200px;
}

.poloroid.right:hover {
  transform: rotate(0deg);
}

.poloroid.left:hover {
  transform: rotate(0deg);
}

.poloroid.right {
  transform: rotate(-8deg);
}

.poloroid.left {
  transform: rotate(10deg);
}

/* Text on about section images */

.poloroid p {
  color: black;
  margin: 8px;
}

.work-section {
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
/* Work Section title */

.work-section h2 {
  text-align: center;
  display: flex;
}
/* Previews of my projects */

.work-section figure {
  display: flex;
  position: relative;
}

.project-img {
  max-width: 400px;
  display: flex;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.project-img:hover {
  transform: scale(1.1);
}

/* To alternate project previews position */

.work-section figcaption {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translate(0%, -50%);
  background-color: #84dcc6bb;
  color: black;
  padding: 10px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  list-style: none;
  text-align: center;
  padding: 50px;
  font-size: 20px;
}

/* Links to contact */

.contact-text a {
  transition: 0.3s;
  width: 40%;
  cursor: pointer;
  color: white;
  padding: 10px;
  text-align: center;
}

/* To maintain applied styles once link has been visited */

.email,
.email:visited {
  max-width: 150px;
  width: 100%;
  background-color: transparent;
}

.phone,
.phone:visited {
  padding: 20px 30px;
  max-width: 150px;
  width: 100%;
}

.linkedin,
.linkedin:visited {
  padding: 20px 30px;
  max-width: 150px;
  width: 100%;
}

.contact-text a:hover {
  text-decoration: underline var(--color-text);
}

footer {
  text-align: center;
  padding: 30px;
  background-color: rgb(10, 10, 10);
  position: relative;
  padding-top: 45px;
}

/* To bring you to the top of my page */

.back-to-top {
  background-color: transparent;
  color: var(--color-text);
  position: absolute;
  top: -40px;
  padding: 15px;
  font-size: 30px;
  cursor: pointer;
  transition: top ease 0.3s;
  line-height: 50px;
  width: auto;
  left: 50%;
  transform: translate(-50%, 0%);
}

.back-to-top:hover {
  top: -50px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  gap: 20px;
  width: 100%;
}

/* Link to my Github */

.footer-content a img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 800px) {
  main {
    padding: 150px 20px 100px 20px;
    width: calc(100% - 40px);
  }

  header {
    flex-direction: column;
    height: 100%;
    gap: 30px;
  }

  .introduction h1 {
    flex-wrap: wrap;
    display: flex;
  }

  .about-section {
    flex-direction: column;
  }

  .work-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0, 0);
  }

  .work-section figure:nth-child(even),
  .work-section figure:nth-child(odd) {
    transform: translateX(0);
  }

  footer {
    width: 100%;
  }
}
